body {
    background-color: #73b2ea; /* Fundo azul claro */
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

/* Título principal */
h1 {
    text-align: center; 
    color: rgb(7, 1, 71); 
    font-size: 40px;
}

/* Subtítulo */
h2 {
    text-align:left;
    color: navy;
    font-size: 28px;
}

p {
    text-align: justify;
    color: #030d5d; 
    font-size: 20px;
}

p.{
    text-align: right;
    color: rgb(4, 37, 82);
    font-size: 20px;
}